body { background: #3b1a6f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 35px; display: flex; }
.block-cluster-0 { color: #116687; font-size: 20px; margin-bottom: 5px; }
.block-helper-1 { color: #71a773; font-size: 20px; margin-bottom: 5px; }
.block-router-2 { color: #5467b3; font-size: 18px; margin-bottom: 5px; }
.block-database-3 { color: #402111; font-size: 13px; margin-bottom: 5px; }
.block-search-4 { color: #46b987; font-size: 20px; margin-bottom: 5px; }
.block-uploader-5 { color: #be643e; font-size: 20px; margin-bottom: 5px; }
.block-filter-6 { color: #94571e; font-size: 17px; margin-bottom: 5px; }
.block-invoice-7 { color: #dc9e2d; font-size: 20px; margin-bottom: 5px; }
.block-token-8 { color: #7417e9; font-size: 16px; margin-bottom: 5px; }
.block-metrics-9 { color: #dcabc7; font-size: 13px; margin-bottom: 5px; }